@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


.page-contacto {

    text-align: center;



    .contacto-card {

        @include flex-center;

        gap: $espaciado-lg;



        img {

            width: 350px;
            border-radius: $radio;

        }



        .texto-contacto {

            max-width: 500px;



            p {

                color: $color-blanco;

            }

        }

    }



    @include responsive(tablet) {


        .contacto-card {

            flex-direction: column;

        }

    }

}
