@use "../utilities/variables" as *;


main {

    padding-top: $espaciado-xl;
    padding-bottom: $espaciado-xl;


    .row {

        row-gap: $espaciado-lg;

    }

}


.home-card {

    height: 100%;

}
