@use "../utilities/variables" as *;


.page-fixture {


    text-align:center;


    .fixture-card {


        max-width:900px;

        margin:auto;


        img {

            height:350px;

            object-fit:cover;

        }


        p {

            color:$color-gris;

        }


    }


}