@use "variables" as *;

// =====================================
// FLEX
// =====================================

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// =====================================
// CARD
// =====================================

@mixin card {
    background: $color-blanco;
    border-radius: $radio;
    box-shadow: $sombra;
    overflow: hidden;
}

// =====================================
// BOTÓN
// =====================================

@mixin boton($fondo, $texto) {
    background: $fondo;
    color: $texto;
    border: none;
    border-radius: $radio;
    padding: .8rem 1.4rem;
    cursor: pointer;
    transition: $transicion;
}

// =====================================
// RESPONSIVE
// =====================================

@mixin tablet {

    @media (max-width: $tablet) {
        @content;
    }

}

@mixin mobile {

    @media (max-width: $mobile) {
        @content;
    }

}

@include flex-center;

@include card;
