// Centrar elementos con Flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Estilo general de tarjetas
@mixin card {
    background: $color-blanco;
    border-radius: $radio;
    box-shadow: $sombra;
    overflow: hidden;
    transition: $transicion;
}


// Responsive
@mixin responsive($size) {

    @if $size == tablet {

        @media (max-width: $tablet) {
            @content;
        }

    }


    @if $size == mobile {

        @media (max-width: $mobile) {
            @content;
        }

    }

}
@use "mixins" as *;