$color-principal: #4C0202;
$color-secundario: #01041f;
$color-header: rgba(1, 9, 61, .45);

$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris: #333333;

$fuente-principal: Arial, Helvetica, sans-serif;

$radio: 15px;

$sombra: 0 5px 15px rgba(0,0,0,.2);

$transicion: .3s;