@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


.header {

    @include flex-center;

    flex-direction: column;
    padding: $espaciado-xl;
    text-align: center;

    background: linear-gradient(
        $color-header-arriba,
        $color-header-abajo
    );


    .logo {

        width: 220px;
        margin-bottom: $espaciado-md;
        transition: $transicion;


        &:hover {

            transform: scale(1.05);

        }

    }


    h1 {

        color: #b18686;
        margin-bottom: $espaciado-sm;

    }


    p {

        max-width: 700px;
        margin-bottom: $espaciado-lg;

    }



    // Tablet

    @include responsive(tablet) {


        .logo {

            width: 180px;

        }


        h1 {

            font-size: 2rem;

        }

    }



    // Mobile

    @include responsive(mobile) {


        padding: $espaciado-lg;


        .logo {

            width: 150px;

        }


        h1 {

            font-size: 1.7rem;

        }

    }

}