@use "../utilities/variables" as *;

// ==========================================
// RESET
// ==========================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ==========================================
// HTML
// ==========================================

html {
    scroll-behavior: smooth;
}

// ==========================================
// BODY
// ==========================================

body {
    font-family: $fuente-principal;
    background: $color-secundario;
    color: $color-blanco;
    min-height: 100vh;
}

// ==========================================
// IMÁGENES
// ==========================================

img {
    max-width: 100%;
    display: block;
}

// ==========================================
// LINKS
// ==========================================

a {
    text-decoration: none;
}

// ==========================================
// SECCIÓN BASE
// ==========================================

.seccion-base {
    width: 100%;
    max-width: $ancho-maximo;
    margin: 0 auto;
    padding: 40px $espaciado;
}