@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "sass:color";


.btn {

    @include boton(
        $color-principal,
        $color-blanco
    );


    &:hover {

        background-color: color.adjust(
            $color-principal,
            $lightness: 10%
        );

        color: $color-blanco;

    }


    &:active {

        transform: scale(.95);

    }

}


// Botón alternativo

.btn-secondary-custom {

    @include boton(
        $color-secundario,
        $color-blanco
    );


    &:hover {

        background-color: color.adjust(
            $color-secundario,
            $lightness: 10%
        );

    }

}
