@use "../utilities/variables" as *;

// ==========================================
// RESET
// ==========================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// ==========================================
// ESTRUCTURA BASE
// ==========================================

.seccion-base {

    width: 100%;

    max-width: $ancho-maximo;

    margin: 0 auto;

    padding: 40px $espaciado;

}


// ==========================================
// BODY
// ==========================================

body {

    font-family: $fuente-principal;

    background: $color-secundario;

    color: $color-blanco;

    min-height: 100vh;

}


// ==========================================
// CONTENEDORES PRINCIPALES
// ==========================================

main {

    width: 100%;

}


// ==========================================
// TÍTULOS GENERALES
// ==========================================

h1,
h2,
h3,
h4,
h5,
h6 {

    margin-top: 0;

}


// ==========================================
// PÁRRAFOS
// ==========================================

p {

    line-height: 1.6;

}


// ==========================================
// IMÁGENES
// ==========================================

img {

    max-width: 100%;

    display: block;

}


// ==========================================
// LINKS
// ==========================================

a {

    text-decoration: none;

}


// ==========================================
// CARDS
// ==========================================

.card {

    background-color: $color-blanco;

    color: $color-negro;

}


// ==========================================
// TEXTO DENTRO DE LAS CARDS
// ==========================================

.card {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        color: $color-negro;

    }


    p {

        color: $color-gris;

    }


    li {

        color: $color-negro;

    }

}
