@use "../utilities/variables" as *;


// ==========================================
// TÍTULOS
// ==========================================

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}


// ==========================================
// H1
// ==========================================

h1 {
    color: $color-rojo;
    font-size: 2.5rem;
}


// ==========================================
// H2
// ==========================================

h2 {
    color: $color-blanco;
    font-size: 2rem;
    margin-bottom: $espaciado;
}


// ==========================================
// H3
// ==========================================

h3 {
    color: $color-principal;
    font-size: 1.5rem;
}


// ==========================================
// PÁRRAFOS
// ==========================================

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

